$text-color:#5E5E5E;
$title-color: #292929;
$border-color:#a3a1a1;
$wrapper-height:75vh;
$width:80%;
$fly-in-text: translateY(-50px);
$text-size: 1rem;
$title-size-1:2rem;
$title-size-2: 1.5rem;

$author-color:#5E5E5E;
$details-color: #949494;

$background-color:black;

$footer-text-size: 1rem;
$icon-size: 2rem;

$home-text-color: white;