@import 'variables';
.pricing-card-wrapper {
    .pricing-card {
        padding: 20px 0 20px 0;
        margin: 10px 0 10px 0;
        opacity: 0;
        transform: $fly-in-text;
        transition: all 2s ease-in-out;
        .pricing-card-title {
            color: $title-color;
        }
        .pricing-card-text {
            color: $text-color;
        }
    }
}

.pricing-card-wrapper.appear {
    .pricing-card {
        padding: 20px 0 20px 0;
        margin: 10px 0 10px 0;
        opacity: 1;
        transform: translateY(0);
        .pricing-card-title {
            color: $title-color;
        }
        .pricing-card-text {
            color: $text-color;
        }
        &:hover {
            transform: scale(1.1)
        }
    }
}