.pricing-card-wrapper {
    .pricing-card {
        padding: 20px 0 20px 0;
        margin: 10px 0 10px 0;
        opacity: 0;
        transition: all 2s ease-in-out;
        .pricing-card-title {
            color: #949494;
        }
        .pricing-card-text {
            color: #949494;
        }
    }
}

.pricing-card-wrapper.appear {
    .pricing-card {
        padding: 20px 0 20px 0;
        margin: 10px 0 10px 0;
        opacity: 1;
        transform: translateX(0) !important;
        .pricing-card-title {
            color: #949494;
        }
        .pricing-card-text {
            color: #949494;
        }
        &:hover {
            transform: scale(1.1)
        }
    }
}