@import 'variables';
.blog-page-wrapper{
    min-height: $wrapper-height;
    .articles{
        width: $width;
        padding:0 !important;
        margin:0 auto;
        padding:10px;
        .articles-title{
            font-size: $title-size-1;
            color:$title-color;
        }
    }
}

