@import 'variables';
.about-content{
    .about-card{
        opacity:0;
        transform: $fly-in-text;
        transition: all 2s ease-in-out;
        color:$text-color;
        font-size: $text-size;
    }
}

.about-content.appear{
    .about-card{
        opacity:1;
        transform:translateY(0)
    }
}