.about-page-wrapper {
    min-height: 75vh;
    width: 80%;
    margin: 0 auto;
    .about-title {
        margin: 20px 0 40px 0;
        color: grey;
    }
    .acknowledgements{

    }
    .acknowledgements-text{

    }
}
 