.about-content{
    .about-card{
        opacity:0;
        transform: translateY(-50px);
        transition: all 2s ease-in-out;
    }
}

.about-content.appear{
    .about-card{
        opacity:1;
        transform:translateY(0)
    }
}