@import 'variables';
.about-page-wrapper {
    min-height: $wrapper-height;
    width: $width;
    margin: 0 auto;
    .about-title {
        margin: 20px 0 40px 0;
        color: $title-color;
        font-size:$title-size-1;
    }
    .acknowledgements{
        color: $title-color;
        font-size: $title-size-1;
    }
    .acknowledgements-text{
        color: $text-color;
        font-size: $text-size;
    }
}
 