@import 'variables';
.box {
    vertical-align: top;
    margin:0px 30px 60px 0;
    padding:15px;
    
    @media (min-width:400px){
        max-width: 400px;
    }
    .card-wrapper {
        opacity: 0;
        height: auto;
        transition: all 700ms ease-in-out;
        transform: translate3d(0,50px,0) scale(0.5);
        position: relative;
        .inner-card-wrapper{
            display: flex;
            flex-direction: row;
            &:hover{
                .icon{
                    .circle{
                        .circle-1{
                            border:3px solid black;
                            svg{
                                fill:black;
                                line{
                                    stroke:black;
                                }
                            }
                        }

                    }
                }
                .icon-text{
                    .icon-title{
                        color:black;
                    }
                    .icon-sentence{
                        color:black;
                    }
                }
            }
            .icon{
                display: flex;
                justify-content: center;
                align-items: center;
                width:50%;
                height:auto;
                vertical-align: middle;
                @media (max-width:355px){
                    min-width:147.5px;
                }
                .circle{
                    position: relative;
                    width:150px;
                    height:150px;
                    border:2px solid $border-color;
                    border-radius: 50%;
                    
                    .circle-1{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin: -69px 0 0 -69px;
                        width:138px;
                        height:138px;
                        border:3px solid $border-color;
                        border-radius: 50%;
                        svg {
                            fill: $border-color;
                            position: absolute;
                            left:0;
                            right:0;
                            margin:0 auto;
                            top:22%;
                            height:50%;
                            width:50%;
                            line{
                                stroke: $border-color;
                            }
                        }
                    }
                }
                
            }
            
            .icon-text{
                display: flex;
                flex-direction: column;
                align-items: center;
                height:auto;
                .icon-title{
                    font-size: 1.75rem;
                    margin-top:10px;
                    color:$title-color;
                }
                .icon-sentence{
                    font-size: 1rem;
                    margin: 0 10px;
                    color: $text-color;
                    @media (max-width:1080px){
                        min-width:200px;
                    }

                }
            }
        }
      }
      
  }

  .box.appear{
      margin-right:30px;
      @media (max-width:400px){
        margin-right:0;
        padding:30px 10px;;
    }
    .card-wrapper {
    opacity: 1;
    display: block;
    transform: translate3d(0,0,0);
    }
    .card-wrapper:after {
        content: '';
        font-family: Monaco, consolas, monospace;
        font-size: 2vw;
        color: white;
        text-shadow: 1px 1px 0 rgba(0,0,0,0.7);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%,-50%,0);
      }
}      