@import 'variables';
.navbar{
    background-color: transparent !important;
    text-align: center;
    width:$width;
    padding:10px 0 10px 0;
    margin-left:10vw;
    height:10vh;
        .navbar-brand{
            color:$home-text-color;
            font-size: 1.5rem;
        }
        .navbar-toggler{
            color:$home-text-color;
            .navbar-toggler-icon{
                color:$home-text-color;
                background-color: $home-text-color;
            }
        }
        .collapse.navbar-collapse{
            .navbar-nav{
                .nav-item{
                    margin:0 25px 0 25px;
                    .nav-link{
                        cursor: pointer;
                        font-size: 1rem;
                        color:$home-text-color;    
                    }
                }
                .nav-item:last-child{
                    margin-right:0;
                }
            }
        
    }
}

.navbar-background{
    background-color: $background-color;
    width:100%;
    height:10vh;
    position: absolute;
    z-index:-5;
    top:0;
    right:0;
    left:0;
}